flask==2.0.3
python-docx==0.8.11
PyPDF2==2.12.1
Werkzeug==2.0.3
gunicorn==20.1.0
click==8.0.4
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
lxml==4.9.2
blinker==1.5
pytz==2023.3
six==1.16.0
docxcompose==1.4.0
docx2txt==0.8
pdfminer.six==20221105
chardet==5.1.0
cryptography==40.0.2
